{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h3>Edit Category:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categories/edit" method="post">
            <input type="hidden" name="id" value="{{category._id}}">
            <label for="name">Name: </label>
            <input type="text" id="name" class="form-control" name="name" placeholder="Category name" value="{{category.name}}">
            <label for="slug">Slug: </label>
            <input type="text" id="slug" class="form-control" name="slug" placeholder="Category slug" value="{{category.slug}}">
            <br>
            <button class="btn btn-success">Edit category</button>
        </form>
    </div>
</div>